.cell {
  background-color: darkseagreen;
  width: 80px;
  height: 80px;
  flex-grow: 1;
}

.reversed {
  background-color: beige !important;
}

.cell.activated {
  background-color: forestgreen;
}

.cell.activated.reversed {
  background-color: burlywood !important;
}
